# .NET / C# / Visual Studio

## Visual Studio local settings
.vs/

## Build results
[Bb]in/
[Oo]bj/
[Bb]uild/
[Bb]uilds/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/
*.code-workspace

## Logs
*.log
[Ll]ogs/

## Runtime files
*.pidb
*.mdb
*.pdb

## ASP.NET/Blazor-specific
wwwroot/**/*.map
wwwroot/node_modules/
node_modules/
dist/
out/
.publish/

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Package managers
packages/
*.nupkg
*.snupkg
*.nuspec

# Firebird database files (if used in repo/test)
*.fdb
*.gdb
*.ib

**/Model.User.xafml
**/Model*.xafml.cs
**/ModelDiffsDesigner.cs
**/XAFMLCache/
**/*.xafml.cache

**/UnusableNodes*.xml

# Tests & temp
TestResults/
*.vspscc
*.vssscc
*.coverage
*.testsettings
*.runsettings
*.dbmdl

# Others
_ReSharper*/
*.resharper
*.DotSettings.user

# Deployment artifacts
*.Publish.xml
*.deploy*

# Secrets/configs (optional)
appsettings.Development.json
appsettings.Local.json
secrets.json